body {
  margin: 0;
  overflow: hidden;
  background: #FFEEE4;
  font-size: 24px;
  font-family: Microsoft JhengHei;
  font-weight: 800; }
  body #container {
    border: solid #CE6D39 5px;
    border-radius: 10px;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: calc(100vh / 2 - 225px); }
    body #container #title {
      height: 10%;
      background: #F17F42;
      color: white;
      border-bottom: solid #CE6D39;
      line-height: 45px;
      padding-left: 5px; }
    body #container #body {
      background: #FCAD83;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column; }
      body #container #body > :first-child {
        font-size: 40px; }
      body #container #body > :nth-child(2) {
        background: #FFEEE4;
        height: 60px;
        width: 80%;
        border: solid 5px #CE6D39;
        border-radius: 10px;
        overflow: hidden;
        display: grid;
        grid-auto-columns: auto 80px;
        grid-auto-rows: auto;
        grid-template-areas: "input button"; }
        body #container #body > :nth-child(2) input {
          grid-area: input;
          background: #FFEEE4;
          border: 0;
          font-size: 32px;
          padding: 5px; }
        body #container #body > :nth-child(2) div {
          grid-area: button;
          border-left: solid 5px #CE6D39;
          background: #F17F42;
          font-size: 41px;
          text-align: center; }
          body #container #body > :nth-child(2) div i {
            font-weight: 600;
            color: white; }
